<nav class="navigation w-375 h-88">
  <ul role="list" class="display-c">
    <li class="display-c">
      <a href="../../index.html" class="navigation__button">
        <img src="../../images/home-w.svg" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/search-g.svg" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/create.svg" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/alert-g.svg" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/profile-g.svg" alt="" />
      </a>
    </li>
  </ul>
</nav>
