<nav class="navigation w-375 h-88">
  <ul role="list" class="display-c">
    <li class="display-c">
      <a href="../../index.html" class="navigation__button">
        <img src="../../images/home.svg" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/search.svg" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/create.png" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/alert.svg" alt="" />
      </a>
    </li>
    <li class="display-c">
      <a href="" class="navigation__button">
        <img src="../../images/profile.svg" alt="" />
      </a>
    </li>
  </ul>
</nav>
