<section class="post w-375">
  <div class="post__flexbox">
    <img
      src="https://source.unsplash.com/random/32x32?person=1"
      alt="profile-picture"
      width="32"
      height="32"
      class="post__profile-picture"
    />
    <div class="post__name">
      <h2>Jacob Washington</h2>
      <p class="post__p-time">20 min ago</p>
    </div>
    <img
      class="post__flexbox--right"
      src="../../images/dots-vertical.svg"
      alt=""
    />
  </div>
  <p class="post__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae,
    facilis ea excepturi aliquam similiqu
  </p>
  <ul class="post__flexbox" role="list">
    <li><img src="../../images/like-w.svg" alt="" /> 2,245</li>
    <li><img src="../../images/comment-w.svg" alt="" /> 45</li>
    <li><img src="../../images/share.svg" alt="" /> 124</li>
    <li class="post__flexbox--right">
      <img src="../../images/bookmark.svg" alt="" />
    </li>
  </ul>
</section>

<section class="post w-375">
  <div class="post__flexbox">
    <img
      src="https://source.unsplash.com/random/32x32?person=3"
      alt="profile-picture"
      width="32"
      height="32"
      class="post__profile-picture"
    />
    <div class="post__name">
      <h2>Jacob Washington</h2>
      <p class="post__p-time">20 min ago</p>
    </div>
    <img
      class="post__flexbox--right"
      src="../../images/dots-vertical.svg"
      alt=""
    />
  </div>
  <img
    class="post__img"
    src="https://source.unsplash.com/random/400x300?sig=1"
    width="400"
    height="300"
    alt=""
  />
  <ul class="post__flexbox" role="list">
    <li><img src="../../images/like-w.svg" alt="" /> 2,245</li>
    <li><img src="../../images/comment-w.svg" alt="" /> 45</li>
    <li><img src="../../images/share.svg" alt="" /> 124</li>
    <li class="post__flexbox--right">
      <img src="../../images/bookmark.svg" alt="" />
    </li>
  </ul>
</section>
