.post {
  padding: 20px;
  border-bottom: 1px solid var(--color-lighter-grey);
}

.post__flexbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.post__flexbox--right {
  margin-left: auto;
}

.post__p-time {
  font-size: 0.9em;
  color: var(--color-lighter-grey);
}

.post__text {
  padding: 10px 10px 10px 0;
}

.post__img {
  width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 20px;
}
