.prof-nav {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-dark-black);
  border-bottom: 1px solid var(--color-lighter-grey);
  justify-content: space-between;
  margin: 0 20px;
}

.prof-nav__li-blue {
  border-bottom: 4px solid var(--color-blue-nav);
  font-weight: bold;
}
