.prof-header {
  position: relative;
  height: fit-content;
}

.prof-header__prof-img {
  border-radius: 50%;
  height: 142px;
  width: 142px;
  border: 3px solid black;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  top: 5px;
  z-index: 1;
}
.prof-header__purple {
  background: linear-gradient(90deg, var(--color-pink), var(--color-blue));
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  top: 85px;
  z-index: 1;
}

.prof-header__message-new {
  position: absolute;
  top: 50px;
  right: 20px;
}

.prof-header__bookmark {
  position: absolute;
  top: 110px;
  right: 20px;
}

.prof-header > h1 {
  margin-top: 90px;
  text-align: center;
}

.prof-header > p {
  text-align: center;
}

span {
  color: var(--color-lighter-grey);
}

.prof-header__follower {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}
.prof-header__follower > p {
  line-height: 1.2;
}

.prof-header__button {
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid var(--color-lighter-grey);
  color: white;
  background-color: var(--color-dark-black);
  align-self: center;
}
