<header class="w-375 prof-header">
  <img
    src="https://source.unsplash.com/random/375x160?sig=2)"
    width="375"
    height="160"
  />
  <div class="prof-header__purple">
    <img
      class="prof-header__prof-img"
      src="https://source.unsplash.com/random/140x140?sig=1"
    />
  </div>
  <img
    class="prof-header__message-new"
    src="../../images/message-new.svg"
    alt="message-new"
  />
  <img
    class="prof-header__bookmark"
    src="../../images/bookmark-circle.svg"
    alt="bookmark"
  />
  <h1>Alex Tsimikas</h1>
  <p>
    <span>Brooklyn, NY</span><br />
    Writer by Profession. Artist by Passion!
  </p>
  <div class="prof-header__follower">
    <p>2,467<br /><span>Followers</span></p>
    <p>1,589<br /><span>Following</span></p>
    <button class="prof-header__button">Edit Profile</button>
  </div>
</header>
