.prof-header {
  width: 375px;
  height: fit-content;
}

.prof-header__imgs {
  position: relative;
  height: 160px;
  background-image: url(https://source.unsplash.com/random/375x160?sig=2);
}

.prof-header__prof-img {
  border-radius: 50%;
  height: 142px;
  width: 142px;
  border: 3px solid black;
  position: absolute;
  bottom: 4px;
  left: 4px;
  z-index: 1;
}

.prof-header__purple {
  background: linear-gradient(90deg, var(--color-pink), var(--color-blue));
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: -75px;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
}

.prof-header__message-new {
  position: absolute;
  bottom: 75px;
  right: 20px;
}

.prof-header__bookmark {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.prof-header__description {
  margin-top: 90px;
  text-align: center;
}

.prof-header__description span {
  color: var(--color-lighter-grey);
}

.prof-header__follower {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

.prof-header__follower span {
  color: var(--color-lighter-grey);
}
