<header class="prof-header">
  <div class="prof-header__imgs">
    <div class="prof-header__purple">
      <img
        class="prof-header__prof-img"
        src="https://source.unsplash.com/random/140x140?sig=1"
      />
    </div>
    <img
      class="prof-header__message-new"
      src="../../images/message-new.svg"
      alt="message-new"
    />
    <img
      class="prof-header__bookmark"
      src="../../images/bookmark-circle.svg"
      alt="bookmark"
    />
  </div>
  <div class="prof-header__description">
    <h1>Alex Tsimikas</h1>
    <p>
      <span>Brooklyn, NY</span><br />
      Writer by Profession. Artist by Passion!
    </p>
  </div>
  <div class="prof-header__follower">
    <p>2,467<br /><span>Followers</span></p>
    <p>1,589<br /><span>Following</span></p>
    <button>Edit Profile</button>
  </div>
</header>
