.searchbar {
  background-color: var(--color-dark-grey);
  border-radius: 20px;
  padding: 2px 0 2px 10px;
  display: flex;
  align-items: center;
}

.searchbar__input {
  border: none;
  background-color: var(--color-dark-grey);
  padding: 10px;
}

.searchbar__input::placeholder {
  color: var(--color-social-white) !important;
}

.searchbar__icon {
  background-color: transparent;
  margin-left: auto;
  padding-right: 10px;
}
