.searchbar {
  background-color: var(--color-dark-grey);
  border-radius: 20px;
  padding: 2px 0 2px 10px;
  display: flex;
  align-items: center;
  margin: 10px 20px 0 20px;
  position: relative;
}

.searchbar__input {
  border: none;
  background-color: var(--color-dark-grey);
  padding: 10px;
}

.searchbar__input::placeholder {
  color: var(--color-social-white) !important;
}

.searchbar__icon {
  background-color: transparent;
  position: absolute;
  right: 10px;
}
