<div class="stories__container">
  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?food" alt="" />
    <div class="stories__purple">
      <img class="stories__img-profile" src="https://source.unsplash.com/random/50x50?selfie" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?fruit" alt="" />
    <div class="stories__purple">
      <img class="stories__img-profile" src="https://source.unsplash.com/random/50x50?face" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?travel" alt="" />
    <div class="stories__purple">
      <img class="stories__img-profile" src="https://source.unsplash.com/random/50x50?portrait" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?cat" alt="" />
    <div class="stories__purple">
      <img class="stories__img-profile" src="https://source.unsplash.com/random/50x50?man" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?scenery" alt="" />
    <div class="stories__purple">
      <img class="stories__img-profile" src="https://source.unsplash.com/random/50x50?head" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?dogs" alt="" />
    <div class="stories__purple">
      <img class="stories__img-profile" src="https://source.unsplash.com/random/50x50?selfie" />
    </div>
  </div>
</div>
