<div id="element" class="stories__container">
  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?sig=1" alt="" />
    <div class="stories__purple">
      <img class="stories__circle stories__img-profile" src="https://source.unsplash.com/random/50x50?sig=1" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?sig=1" alt="" />
    <div class="stories__purple">
      <img class="stories__circle stories__img-profile" src="https://source.unsplash.com/random/50x50?sig=1" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?sig=1" alt="" />
    <div class="stories__purple">
      <img class="stories__circle stories__img-profile" src="https://source.unsplash.com/random/50x50?sig=1" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?sig=1" alt="" />
    <div class="stories__purple">
      <img class="stories__circle stories__img-profile" src="https://source.unsplash.com/random/50x50?sig=1" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?sig=1" alt="" />
    <div class="stories__purple">
      <img class="stories__circle stories__img-profile" src="https://source.unsplash.com/random/50x50?sig=1" />
    </div>
  </div>

  <div class="stories__element">
    <img class="stories__img-big" src="https://source.unsplash.com/random/100x140?sig=1" alt="" />
    <div class="stories__purple">
      <img class="stories__circle stories__img-profile" src="https://source.unsplash.com/random/50x50?sig=1" />
    </div>
  </div>
</div>
