<div id="element" class="stories__container">
  <div class="stories__element">
    <img
      class="stories__img-big"
      src="https://source.unsplash.com/random/100x140?sig=1"
      alt=""
    />
    <div class="stories__purple">
      <img
        class="stories__img-profile"
        src="https://source.unsplash.com/random/50x50?sig=2"
      />
    </div>
  </div>

  <div class="stories__element">
    <img
      class="stories__img-big"
      src="https://source.unsplash.com/random/100x140?sig=3"
      alt=""
    />
    <div class="stories__purple">
      <img
        class="stories__img-profile"
        src="https://source.unsplash.com/random/50x50?sig=4"
      />
    </div>
  </div>

  <div class="stories__element">
    <img
      class="stories__img-big"
      src="https://source.unsplash.com/random/100x140?sig=5"
      alt=""
    />
    <div class="stories__purple">
      <img
        class="stories__img-profile"
        src="https://source.unsplash.com/random/50x50?sig=6"
      />
    </div>
  </div>

  <div class="stories__element">
    <img
      class="stories__img-big"
      src="https://source.unsplash.com/random/100x140?sig=7"
      alt=""
    />
    <div class="stories__purple">
      <img
        class="stories__img-profile"
        src="https://source.unsplash.com/random/50x50?sig=8"
      />
    </div>
  </div>

  <div class="stories__element">
    <img
      class="stories__img-big"
      src="https://source.unsplash.com/random/100x140?sig=9"
      alt=""
    />
    <div class="stories__purple">
      <img
        class="stories__img-profile"
        src="https://source.unsplash.com/random/50x50?sig=10"
      />
    </div>
  </div>

  <div class="stories__element">
    <img
      class="stories__img-big"
      src="https://source.unsplash.com/random/100x140?sig=11"
      alt=""
    />
    <div class="stories__purple">
      <img
        class="stories__img-profile"
        src="https://source.unsplash.com/random/50x50?sig=12"
      />
    </div>
  </div>
</div>
