* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

ul[role="list"] {
  list-style: none;
}

body {
  color: white;
  background-color: var(--color-dark-grey);
}
h2 {
  font-size: 1.1em;
}
