:root {
  --color-dark-grey: #323436;
  --color-dark-black: #181a1c;
  --color-social-white: #ecebed;
  --color-lighter-grey: #727477;
  --color-pink: #f62e8e;
  --color-blue: #2e8af6;
  --color-blue-nav: #2e8af7;
}
